In [1]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Smith         345.67
300       Williams        0.00
400       Stone         -42.16
500       Rich          224.62

In [2]:
with open('grades.txt', 'r') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    for record in grades:
        student_id, name, grade = record.split()
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   Whtie  A

In [3]:
accounts = open('accounts.txt', 'r')

In [4]:
temp_file = open('temp_file.txt', 'w')

In [5]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account !='300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record +'\n')

In [6]:
import os

In [7]:
os.remove('accounts.txt')

In [8]:
os.rename('temp_file.txt', 'accounts.txt')

In [9]:
# Self Check

In [10]:
accounts = open('accounts.txt', 'r')

In [11]:
temp_file = open('temp_file.txt', 'w')

In [12]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if name != 'Doe':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Smith', balance])
            temp_file.write(new_record + '\n')

In [13]:
import os

In [14]:
os.remove('accounts.txt')

In [15]:
os.rename('temp_file.txt', 'accounts.txt')

In [16]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98},
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [17]:
import json

In [18]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

In [19]:
with open('accounts.json', 'r') as accounts:
          accounts_json = json.load(accounts)

In [20]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [21]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [22]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [23]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [24]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [25]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

In [26]:
#Self Check

In [27]:
import json

In [28]:
grades_dict = {'gradebook':
    [{'student_id': 1, 'name': 'Red', 'grade': 'A'},
     {'student_id': 2, 'name': 'Green', 'grade': 'B'},
     {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [29]:
with open('grades.json', 'w') as grades:
    json.dump(grades_dict, grades)

In [30]:
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

In [31]:
# dividebyzero.py

In [32]:
"""Simple exception handling example."""

'Simple exception handling example.'

In [33]:
while True:
    try:
        number1 = int(input('Enter numerator: '))
        number2 = int(input('Enter denominator: '))
        result = number1 / number2
    except ValueError:
        print('You must enter two integers\n')
    except ZeroDivisionError:
        print('Attempted to divide by zero\n')
    else:
        print(f'{number1:.3f} / {number2:.3f} = {result:.3f}')
        break

Enter numerator:  100
Enter denominator:  0

Attempted to divide by zero

Enter numerator:  100
Enter denominator:  hello

You must enter two integers

Enter numerator:  100
Enter denominator:  7

100.000 / 7.000 = 14.286

In [34]:
#Self Check

In [35]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int{value}) is {int(value)}')

In [36]:
try_it(10.7)

int10.7) is 10

In [37]:
try_it('Python')

Python could not be converted to an integer

In [38]:
try:
    print('try suite with no exceptions raised')
except:
    ('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:
    print('finally always execute')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always execute

In [39]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('a ValueError occured')
else:
    print('else will not execute because an exception occurred')
finally:
    print('finally always executes')

try suite that raises an exception
a ValueError occured
finally always executes

In [40]:
open('gradez.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'gradez.txt'

In [41]:
try:
    with open('gradez.txt', 'r') as accounts:
        print('f{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
            student_id, name, grade = record.split()
            print(f'{student_id<3}{name:7}{grade}')
except FileNotFoundError:
        print('The file name you specified does not exist')

The file name you specified does not exist

In [42]:
# Self Check

In [43]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} count not be converted to an integer')
    else:
        print(f'int({value}) is {int(value)}')
    finally:
        print('finally executed')

In [44]:
try_it(10.7)

int(10.7) is 10
finally executed

In [45]:
try_it('Python')

Python count not be converted to an integer
finally executed

In [46]:
def function1():
    function2()

In [47]:
def function2():
    raise Exception('An exception occurred')

In [48]:
function1()

Exception: An exception occurred

In [49]:
import csv

In [50]:
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.63])

In [51]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.63

In [52]:
#Self Check

In [53]:
import csv

In [54]:
with open('grades.csv', mode='w', newline='') as grades:
    writer = csv.writer(grades)
    writer.writerow([1, 'Red','A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [55]:
with open('grades.csv', 'r', newline='') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    reader = csv.reader(grades)
    for record in reader:
        student_id, name, grade = record
        print(f'{student_id:<4}{name:<7}{grade:}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

In [56]:
import pandas as pd

In [57]:
df = pd.read_csv('accounts.csv',
                 names=['account', 'name', 'balance'])

In [58]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.63

In [59]:
df.to_csv('accounts_from_dataframe.csv', index=False)

In [60]:
#Self Check

In [61]:
pd.read_csv('grades.csv', names=['ID', 'Name', 'Grades'])

   ID   Name Grades
0   1    Red      A
1   2  Green      B
2   3  White      A